* {
    box-sizing: border-box;
}

body {
    background: url(bg.jpg);
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}


/* top flexbox (main flexbox) */
.top_flexbox {
    display: flex;
    /* border: 2px solid green; */
    flex-flow: row wrap;
    /* height: 100px; */
    align-items: center;
    justify-content: space-between;
}

.topflex_item {
    /* border: 2px solid rgb(0, 221, 255); */
    height: 110px;
    width: 30%;
    margin: 5px 0px;
}


#topflex_left {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    width: 10%; 
    align-items: center;
}

#topflex_mid {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topflex_mid_item {
    /* background-color: lightblue; */
    font-size: 18px;

}

a.link_style {
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
}

#topflex_right {
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.topflex_right_item {
    margin: 2px;
}

.btn {
    font-family: fantasy;
    color: white;
    background-color: rgba(31, 31, 31, 0.53);
    border: 1px groove rgb(27, 27, 27);
    border-radius: 15px;
    padding: 0px 5px;
    
}

.topflex_left_item {
    /* width: 25%;
    height: 50%; */
    /* border: 1px solid red; */
}

img.topflex_left_item {
    width: 100%;
    height: 80%;
}

p.topflex_left_item {
    display: inline;
    margin: 0px;
    height: 20%;
}


.main_form_flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    border:1px solid white;
    border-radius: 15px;
    width: 40%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.main_flexbox_item {
    width: 80%;
}

#main_flexbox_heading {
        /* border: 2px solid red; */
        margin-bottom: 10px;
        text-align: center;
}

#form_btn {
    text-align: center;
}
.input_style {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px auto;
    text-align: center;
    font-family: fantasy;
    width: 60%;
}


.designer_flexbox {
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    
    width:25%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.designer_flexbox_item {
    margin: 10px;
}

img#designer_image {
    width: 40%;
    height: 40%;
    margin: 10px 0px;
}

/* Form Mobile device */

@media (max-width:768px) {
   .top_flexbox {
    flex-flow: column wrap;

   }
   #topflex_left {
    width: 90%;
    
   }

   #topflex_mid {
    width: 95%;
   
   }

   #topflex_right {
    width: 80%;
   }

   img.topflex_left_item {
    width: 100px;
    height: 80px;
   }

   #topflex_right {
    align-items: center;
    height: 30px;
   }

   #topflex_mid {
      width: 100%;
      height: 40px;
      background-color: black;
   }

   .main_form_flexbox {
       width: 70%;
   }

   .designer_flexbox {
    width:50%;
   }
}